name: NodeJS with Webpack
on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  full:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: install_dependencies
        run: npm ci
      
      - name: code-fix
        run: npm run lint:fix
      
      - name: build
        run: npm run build
      
      - name: deploy
        if: github.event_name == 'push'
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          local-dir: out/
          server-dir: smt/public_html/
          protocol: ftps